In [18]:
import pandas as pd

path="excelfiles/"

df=pd.read_excel(path+"O seu município em números! Abrantes.xls")

In [19]:
df=df[6:78]
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
6,NaN,2010,NaN,2019,NaN,NaN,NaN
7,NaN,Abrantes,Portugal,Abrantes,Portugal,NaN,NaN
8,População residente,39637,10573100,35254,10286263,NaN,NaN
9,Superfície em km2,0,0,0,0,NaN,NaN
10,Densidade populacional,0,0,49.3,111.5,NaN,NaN
...,...,...,...,...,...,...,...
73,Crimes registados pelas polícias por mil habit...,32.4,40.1,21.6,32.6,NaN,NaN
74,Consumo de energia eléctrica por habitante (kWh),4075.9,4776.8,0,0,NaN,NaN
75,Resíduos urbanos recolhidos selectivamente por...,66.2,76.2,65.1,109.6,NaN,NaN
76,Despesas do município em ambiente (%),5,8,0,0,NaN,NaN
77,Alojamentos turísticos (6),4,2011,14,6833,NaN,NaN